@{
    ViewBag.Title = "Home Page";
}

<div class="row form-group ">
    <div class="col-md-6 col-md-offset-3 text-center">
        <h1 class="page-header">Evaluación - Equipo de Desarrollo</h1>
        <p class="lead">Página web con Bootstrap.</p>
    </div>
</div>

<div class="row">
    <div class="col-md-4 col-md-offset-4 text-center panel panel-footer">
        <h2>Facturación</h2>
        <p>
            Esta aplicación web te permite añadir clientes, productos y facturas a una base de datos creada con SQL Express
        </p>
    </div>
</div>